.btn{
	padding:8px 20px;
	font-size: $base-font-size-14;  
	font-weight: 500; 
	border:1px solid $color-mid-gray;
	.fa{
		margin:0 5px;
	}
}
.btn-primary{ 
	background:$color-blue;
	border-color:$color-blue; 
	&:hover{
		background:$color-blue;
		border-color:$color-blue;
	}
} 
.btn-reverse{
	background:$color-white;	
	border-color:$color-blue;
	color:$color-blue; 
}
.btn-small{
	padding:6px 10px;
} 
.btn-default{
	color: $color-base;
	&:hover{
		color: $color-base;
	}
}
