.slider{
	background: url('#{$imagedir}/econsult.jpg') no-repeat 0 0;
	background-size: cover;
	min-height: 600px;
	.caption{
			position: relative;
			padding-top: 300px;
		h3{
			 
		}
		h2{
			font-size: 40px;
		}
	}
	
}


