// Color palette

$color-black:				#000;
$color-white:				#fff;
$color-base:				#4b4948;
$color-alert:				#ff0000;
$color-sucess:				#1e9e0c;
$color-light-gray:			#f2f2f2;
$color-blue:			    #0098a9;
$color-light-blue:			#f5f7fa;
$color-mid-blue:			#b3ddf9; 
$color-mid-gray:			#d8d8d8;
$color-dark-gray:			#4b4948;
$color-gray:				#949494;
$color-red:					#f00;
$color-orange:				#ee7a02;
$color-light-green:			#e9ffe2;
$color-mid-green:			#bdd8b5; 
$color-green:				#40aa11;
$color-error-text:			#89c442;
$color-dark-green:			#00b050;
$color-yellow:				#eec602;
 


