$base-font-size: 13px;
$base-font-size-8: 8px;
$base-font-size-10: 10px;
$base-font-size-11: 11px;
$base-font-size-12: 12px;
$base-font-size-14: 14px;
$base-font-size-16: 16px;
$base-font-size-18: 18px;
$base-font-size-20: 20px;
$base-font-size-22: 22px;
$base-font-size-24: 24px;
$base-font-size-28: 28px;
$base-font-size-30: 30px;
$base-font-size-32: 32px;
$base-font-size-36: 36px;
$base-font-size-38: 38px;
$base-font-size-40: 40px;
$base-font-size-42: 42px;
$base-font-size-44: 44px;
$base-font-size-46: 46px;
$base-font-size-48: 48px;
$base-line-height:  normal;
$base-height:  1.8;

$base-radius: 3px;

$base-spacing-unit: 1rem;
